name: "Pypmanager"
version: "1.0.5"
slug: "pypmanager-hass"
description: "Local portfolio management and transaction analysis tool"
init: false
startup: services
image: ghcr.io/ggravlingen/pypmanager-ha-addon/{arch}

arch:
  - aarch64
  - amd64
  # - armv7

# Enable ingress for seamless integration
ingress: true
ingress_port: 8001
panel_icon: "mdi:chart-line"
panel_title: "Portfolio Manager"

# Persistent data storage
map:
  - addon_config:rw # mounts the full /config share into the container
